/* header styles */

header{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    width: 1600px;
    height: 808px;
}
.header-section{
   text-align: right;
   padding: 230px 200px 100px 800px;
}
.header-section .title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}
.header-section .description{
    padding: 10px 0;
}
.btn-primary{
    font-size: 20px;
    background: #F15B22;
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    border: 0;
    margin: 20px;
}
/* section-part */
.failure-container{
    margin-top: 100px;
    display: flex;
}
.title-primary{
    padding: 50px 60px 40px 10px;
    font-weight: 700;
    font-size: 60px;
    color: #151414;
}
.failure-content{
    height: 700px;
    width: 900px;
    padding: 200px 300px 100px 130px;
}
.failure-container .title{
    padding:0;
}
.failure-container .description{
    padding:0 200px 10px 0;
}
.failure-ul{
    padding-left: 30px ;
    list-style-image: url('../images/icons/check1.png');
}
.failure-li{
    color: #444343;
    font-weight: 400;
    font-size: 20px;
}          

.our-plans{
    padding: 0  230px 30px 230px;
    text-align: center;
    height: 300px;
    width: 1100px;
}
.plans-container{
    justify-content: center;
    display: flex;
    gap: 80px;
    padding: 20px;
}
.plan-sub-title{
    font-size: 30px;
}
/* call now section  */
.call-now{
    background: url('../images/watch.png'), url('../images/gradient3.png');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    padding: 130px 230px;
}
.call-now-container{
    margin: 45px 64px;
}
.call-now .title{
    padding-right: 500px;
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 20px;
}
.call-now .btn-primary{
    color: #F15B22;
    background-color: #FFFFFF;
    font-size: 20px;
    margin: 0;
}
/* footer  */
footer{
    background-color: #151414;
    width: 1150px;
    height: 300px;
    display: flex;
    padding: 130px 230px;
    gap:30px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 40px;
}
.footer-description{
    color: #FFFFFF;
    padding-top: 20px;
}
.footer-description{
    margin-top: 10px;
    padding-right: 100px;
}
.contact-address{
   padding-right: 100px;
}
.subscribe-title{
    color: #FFFFFF;
}
.subscribe{
    padding: 0 100px;
}
.subscribe-title{
    font-size: 30px;
    margin-bottom: 40px;
}
#subscribe-email{
    background-color: #151414;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px 150px 20px 20px;
}
.subscribe .btn-primary{
    color: #F15B22;
    background-color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}
.footer-icons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}